[submodule "pack/eclipse.jdt.ls"]
	path = pack/eclipse.jdt.ls
	url = https://github.com/eclipse/eclipse.jdt.ls.git
[submodule "pack/google-java-format"]
	path = pack/google-java-format
	url = https://github.com/google/google-java-format.git
